[submodule "xs-blog-web"]
	path = xs-blog-web
	url = https://github.com/XiaoSong-dada/xs-blog-web.git
[submodule "xs-blog-server"]
	path = xs-blog-server
	url = https://github.com/XiaoSong-dada/xs-blog-server.git
[submodule "xs-blog-db"]
	path = xs-blog-db
	url = https://github.com/XiaoSong-dada/xs-blog-db.git
